<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>photoset</servlet-name>
        <servlet-class>de.blogspot.soahowto.ppm.PhotosetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>photoset</servlet-name>
        <url-pattern>/photoset</url-pattern>
    </servlet-mapping>
<welcome-file-list>
        <welcome-file>photoset.jsp</welcome-file>
    </welcome-file-list>
</web-app>